<p id="notice"><%= notice %></p>

<h1>Listing Doctors</h1>

<% @doctors.each do |doctor| %>

  <div>
    <img src="images/20111216050625.gif">
  </div>
  <div class="link row clearfix">
    <h2>
      <%= doctor.name %> - <%= doctor.hospital %><br>
      <small class="author"><%= doctor.depart %></small>
    </h2>
    <td><%= link_to 'Show', doctor %></td>
    <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>

<br>

<%= link_to 'New Doctor', new_doctor_path %>
